<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Generate Password</h1>
      <div class="feild">
        <input class="input" type="text" (input)="onChangeLength($any($event.target).value)" />
      </div>
      <div class="feild">
        <div class="contorl">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeLetters()" />
            Use Letters
          </label>
        </div>
      </div>
      <div class="feild">
        <div class="contorl">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeNumbers()" />
            Use Numbers
          </label>
        </div>
      </div>
      <div class="feild">
        <div class="contorl">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeSymbols()" />
            Use Symbols
          </label>
        </div>
      </div>
      <button class="button is-link is-fullwidth" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" (click)="onChangeButton()">Generate</button>
      <div class="box" *ngIf="password">
        <label>Your Password is</label>
        <input class="input" type="input" [value]="getPassword()" />
      </div>
    </div>
  </div>
</div>